.account a {
    color: #000;
}

.account p {
    text-decoration: underline;
}

.account fieldset {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    padding: 0;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: flex-start;
}

.account fieldset div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.account {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    border: 1px solid #2172af;
    border-radius: 30px;
    padding: 20px;
}

.account-order {
    border: 1px solid #2172af;
    border-radius: 30px;
    padding: 20px;
    width: 75%;
    margin-bottom: 50px;
    background-color: #fff;
}

.order-header {
    display: flex;
    justify-content: space-around;
}

.line-item {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.line-item * {
    flex: 1;
}

.line-item-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-item-title {
    font-size: 12px;
}

.subtotal-container {
    display: flex;
    justify-content: space-around;
    text-align: end;
    width: 80%;
    margin: 25px auto;
}

.subtotal-container * {
    flex: 1;
}

.shipping-container * {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.account .orders {
    width: 70%;
}

.account input {
    border-color: #2172af91 !important;
    padding: 8px 10px;
    border-radius: 5px;
    background: aliceblue;
}

.address-btn-container {
    display: flex;
    flex-direction: row !important;
    gap: 20px;
    width: 100%;
}

/* .address-btn {
    padding: 5px 25px;
    border: 1px solid #2172af;
    border-radius: 30px;
    width: 30%;
} */

.profile-update-btn {
    margin: -6px 20px 20px;
}

.account .set-default-adrs {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    gap: 20px !important;
}

.address-btn {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #2aa4ff;
    border: 1px solid #2aa4ff;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    @media (max-width: 768px) {
        font-size: 11px;
    }
}

.address-btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.address-btn:active {
    transform: translateY(-1px);
}