html {
  font-family: "Avenir Next", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  scrollbar-color: #0492ff54 #00000014;
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth !important;
}

body {
  background-color: #f6fbff;
  margin: 0;
  padding: 0;

  * {
    scrollbar-width: none !important;
  }
}

main {
  background-color: #f6fbff;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 30px auto;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.banner-slideshow {
  position: relative;
  height: 20vw;
  max-height: 298px;
  max-width: 1500px;
  margin: 0 auto 30px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
}

/* image */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-link {
  display: block;
}

/* dots */
.indicator-dots {
  position: absolute;
  inset-inline: 0;
  bottom: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.indicator-dots li {
  padding: 2px 6px;
  margin: 0;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #2172af;
  border: none;
  cursor: pointer;
  padding: 3px;
  transition: all 0.2s linear;
}

.dot:hover {
  scale: 2.5;
}

.dot.active {
  background: #fff;
}

/* progress */
.progress-bar {
  position: absolute;
  bottom: 18px;
  left: 45%;
  width: 10%;
  height: 3px;
  background: #2172af;
  border-radius: 40px;
  overflow: hidden;
}

.progress-bar::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: progress var(--interval) linear forwards;
  border-radius: 30px;
}

@keyframes progress {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.cart h1 {
  text-align: left;
  width: 95%;
  max-width: 1500px;
  margin: 75px auto 50px !important;
}

.cart li {
  margin-bottom: 0;
}

.product-card .product-price {
  min-height: 43px !important;
}

.cart .product-price {
  height: 20px;
  min-height: 15px;
}

.cart-details {
  margin-bottom: 20px;
}

.cart-lines-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 95%;
  margin: auto;
  gap: 20px;
}

.qnt-rem svg {
  fill: white
}

.cart-line {
  display: flex;
  align-items: center;
  width: 48%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @media (max-width: 1400px) {
    width: 100%;
  }
}

.cart-line img {
  width: 30%;
  max-width: 200px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;
  width: 70%;
}

.cart-product-title {
  font-weight: 500;
  color: black;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.product-price {
  @media (max-width: 1024px) {
    font-size: 13px;
    min-height: unset;
  }
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 13px;
}

.bin-top {
  width: 15px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset>* {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

.cart-summary-page {
  width: 95%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
  border-top: 1px solid #2172af;
  border-bottom: 1px solid #2172af;
}

.cart-summary-page p {
  font-size: 12px;
}

.cart-checkout-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #2aa4ff;
  border: 1px solid #2aa4ff;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.cart-checkout-button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.cart-checkout-button:active {
  transform: translateY(-1px);
}

.cart-subtotal {
  display: flex;
  align-items: start;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.cart-subtotal h4 {
  margin: 0;
}

.brand-section {
  padding: 25px 5px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 1500px;
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
  margin: auto;
}

/* BRAND ITEM ANIMATION STATES */
.brand-item {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.brand-item.visible {
  opacity: 1;
  transform: scale(1);
}

.brand-section .brand-grid.hidden {
  opacity: 0;
  transform: scale(0.9);
}

.brand-section .brand-grid.visible {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
}

.brand-grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row !important;
  justify-content: flex-start;
  overflow: auto hidden;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  max-width: 1500px;
  gap: 16px;
  margin: auto;
  padding: 0 10px;
}

.brand-item img {
  object-fit: contain;
  display: block;
  width: 125px;
  height: auto;
  border-radius: 50%;
  max-width: unset !important;
  filter: invert(1);
}

@media (max-width: 1024px) {
  .brand-item img {
    transition: none;
  }

  .brand-item img {
    width: 100px;
  }
}

.circle-next-button {
  right: 0;
}

.slide-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  padding: 20px 10px 0;
  border-radius: 5px;
  margin: 0 auto 30px;
  max-width: 1500px;
  overflow: auto;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
}

.cat-h3 {
  font-size: 20px;
  margin: 0px auto 30px auto;
  max-width: 1500px;
  width: 98%;
  font-weight: 500;
}

.category-slider {
  display: flex;
  flex-direction: row !important;
  justify-content: start;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  gap: 50px;
  /* width: 100%; */
  padding: 0 30px;
}

.category-container {
  scroll-snap-align: start;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.category-title {
  margin-top: 5px;
  font-weight: 500 !important;
  font-size: 12px;
  color: #000 !important;
  min-height: 39px;
}

.category-image {
  max-width: 50vw;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .slide-con {
    padding: 30px 10px;
  }

  .category-slider {
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin: auto;
    justify-content: space-evenly;
    gap: 15px !important;
    border-radius: 5px;
    width: 95vw;
    padding: 0 !important;
  }

  .category-container {
    width: 25%;
  }

  .category-image {
    border: none;
    width: 200px;
  }
}

.category-svg,
.category-svg svg {
  width: 60px;
  height: 60px;
}

.category-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  padding: 20px;
}


@media (min-width: 768px) {
  .mobile-app-download-bar {
    display: none;
    /* Hide the bar on larger screens */
  }
}

.menu-slider-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row !important;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  max-width: 1500px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow-y: hidden;
  box-shadow: inset 0 0 20px 0px #bcbcbc, rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
  margin: 0 auto 30px;
}

.menu-item-container {
  scroll-snap-align: start;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item-image {
  border: 1px solid #ebebeb;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.menu-item-title {
  margin-top: 10px;
  font-weight: 500 !important;
  font-size: 13px !important;
  color: #404040;
  text-transform: uppercase !important;
  min-height: 60px;
}

.homeSlider-col-container {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  overflow: auto hidden;
  width: 100%;
  /* height: 100%; */
  z-index: 1;
  background: #f0f8ff82;
  padding: 15px 0 0;
}

.home {
  /* max-width: 1500px; */
  margin: 10px auto 30px;
  padding: 5px;
  background-color: transparent;
  border-radius: 10px;
}

.product,
.search {
  background-color: #fff;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
  border-radius: 10px;
  padding: 30px 10px;
  margin: 30px auto !important;

  @media (max-width: 1024px) {
    padding: 0 10px !important;
    margin: 50px auto 30px !important;
  }
}

:root {
  --aside-width: 20vw;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}


/* nprogress.css */
#nprogress .bar {
  background: #29d;
  height: 4px;
  border-radius: 10px;
  position: fixed;
  top: 0;
}

#nprogress .spinner {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1031;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  border: 2px solid transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
  padding: 7.5px;
  border-radius: 10px;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(90deg,
      rgba(224, 224, 224, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(224, 224, 224, 0) 100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150%);
  }
}

.skeleton-div {
  display: flex;
}

.skeleten-tds {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.skeleton-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.skeleton-title {
  width: 70%;
  height: 16px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.skeleton-description {
  width: 90%;
  height: 14px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.skeleton-sku {
  width: 40%;
  height: 14px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.skeleton-price {
  width: 30%;
  height: 14px;
  border-radius: 4px;
}

.search-bar::-webkit-input-placeholder {
  color: transparent;
  background: linear-gradient(90deg, #bbb, #ddd, #bbb);
  background-size: 200% auto;
  -webkit-background-clip: text;
}

.search-bar::-moz-placeholder {
  color: transparent;
  background: linear-gradient(90deg, #bbb, #ddd, #bbb);
  background-size: 200% auto;
  -moz-background-clip: text;
}

.search-bar:-ms-input-placeholder {
  color: transparent;
  background: linear-gradient(90deg, #bbb, #ddd, #bbb);
  background-size: 200% auto;
  -ms-background-clip: text;
}

.search-bar::placeholder {
  color: transparent;
  background: linear-gradient(90deg, #bbb, #ddd, #bbb);
  background-size: 200% auto;
  -webkit-background-clip: text;
}

@media (max-width: 1024px) {
  .product-slideshow-dots {
    display: none;
  }
}

.pb0 {
  padding: 0 !important;
}

html:has(.overlay.expanded) {
  overflow: hidden;
}

.whatsapp-float {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 20px;
  left: 25px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.whatsapp-float svg {
  width: 100px;
  max-width: 80%;
  z-index: 99999;
}

.header-search img {
  width: 75px;
  /* height: 30px; */
}

.scrolling-container {
  max-width: 1500px;
  margin: 30px auto 30px;
  text-align: center;
  overflow: hidden;
  background-color: #3d4856;
  padding: 20px 5px;
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
}

.noise {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scrolling-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.scrolling-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scrolling-content {
  display: flex;
  gap: 30px;
  width: max-content;
  white-space: nowrap;
  animation: scroll-animation 50s linear infinite;
}

.scrolling-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.scrolling-item img {
  height: 75px;
  width: 75px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;

  @media (max-width: 768px) {
    width: 65px;
    height: 65px;
  }
}

/* Keyframes for infinite smooth scrolling */
@keyframes scroll-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
    /* Scroll to the end and repeat seamlessly */
  }
}

.animated-menu-item,
.collection-products-row,
.product-card {
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  display: flex;
}

.menu-slider-container .animated-menu-item {
  width: 100%;
  justify-content: space-evenly;
  gap: 30px;
  position: relative;

  @media (max-width: 1024px) {
    border-radius: 0 0 5px 5px !important;
  }
}

.slider-bg {
  position: absolute;
  width: 100%;
  height: 100%;

  @media (max-width: 1024px) {
    border-radius: 0 0 5px 5px;
  }
}

.menu-slider-container {
  min-height: 190px;
  max-height: 190px;
  position: relative;


  @media (max-width: 1024px) {
    border-radius: 0 0 5px 5px !important;
  }
}

.menu-item-image-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
}

.disabled-look {
  opacity: 0.6;
  cursor: not-allowed;
}

.cart-checkout-container {
  position: relative;
}

.alert-box {
  margin-top: 1rem;
  padding: 12px 16px;
  background-color: #c0392b;
  position: absolute;
  top: -30px;
  left: 0;
  color: #fff;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}

.alert-icon {
  font-weight: bold;
  margin-right: 8px;
  font-size: 18px;
}

.alert-message {
  font-size: 12px;
  line-height: 1.4;
}

.cart-err-msg-link {
  text-decoration: underline;
}

aside .cart-details {
  display: flex;
  flex-direction: column;
}

aside .cart-lines-ul {
  width: 95%;
}

aside .gtc-button {
  width: 100%;
}

aside .go-to-cart {
  display: inline-block;
  width: 100px;
  color: #000;
  margin: 0 0 10px 0;
  border: 1px solid #2172af;
  padding: 5px 10px;
  border-radius: 30px;
}

.empty-cart {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.empty-cart-link {
  color: #000;
}

.circle-prev-button,
.circle-next-button {
  background-color: #ffffff3b;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #2172af;
  color: #2172af;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.circle-prev-button svg,
.circle-next-button svg {
  width: 24px;
  height: 24px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

ul.space-y-5 {
  overflow-y: auto;
  max-height: 220px;
}

img {
  border-radius: 4px;
}

button {
  cursor: pointer !important;
}

.desktop-banners {
  display: block;
}

.mobile-banners {
  display: none;
}

.banner-slide {
  max-height: 300px !important;
}

@media (max-width: 1024px) {
  .desktop-banners {
    display: none;
  }

  .mobile-banners {
    display: block;
  }

  .banner-slideshow {
    height: 73vw;
    max-height: unset !important;
    margin-top: 42px !important;
  }

  .banner-slide {
    max-height: unset !important;
  }

  .product-slideshow-progress-bar {
    display: none;
  }

  .home-prev-button,
  .home-next-button,
  .circle-next-button,
  .circle-prev-button {
    display: none;
  }
}

.menu-list {
  max-width: 1500px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 20px 20px #80808017, inset 0 0 8px #9393937d;
  padding: 30px 20px;
  overflow-x: auto;
  gap: 20px;
  background: #f3f3f3;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  backdrop-filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2172af;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.menu-list button {
  padding: 10px 20px;
  background: #e3e3e3;
  border: none;
  border-radius: 10px;
}

.buttons-list {
  overflow-x: auto;
}

.collection-products-row::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .product-item {
    min-width: unset !important;
    width: 175px !important;
  }

  .progress-bar {
    left: 30% !important;
    width: 40% !important;
  }

  .collection-section {
    margin: 30px auto !important;
  }
}

.collection-section {
  position: relative;
  background-color: transparent;
  max-width: 1500px;
  margin: 0px auto 80px;
  /* padding: 20px 5px; */
  border-radius: 5px;
}

.collection-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.collection-products-row {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
  scrollbar-width: none;
}

.collection-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.view-all-link {
  font-size: 14px;
  color: #101010;
  text-decoration: underline;
}

.view-all-link:hover {
  color: #2172af;
  transition: all 0.2s linear;
}

.product-item {
  min-width: 200px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
  transition: box-shadow 0.3s linear;
  min-width: 200px;
  max-width: 200px;
  /* margin-left: 5px; */
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  flex-direction: column;
  gap: 10px;
}

.product-card a {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-card .product-title {
  transition: all 0.3s linear;
}

.product-card .product-title:hover {
  text-decoration: underline #2172af;
}

.mobile-container {
  margin-bottom: 10px;
}

.grid-cols-2 .product-card,
.grid-cols-3 .product-card,
.grid-cols-4 .product-card,
.grid-cols-5 .product-card {
  max-width: none;
}

.grid-cols-2 .product-card .add-to-cart-button,
.grid-cols-3 .product-card .add-to-cart-button {
  max-width: none !important;
}

.grid-cols-2 .product-card .product-form,
.grid-cols-2 .product-card form {
  max-width: none !important;
}

.grid-cols-2 .product-form {
  margin: auto;
}

@media (max-width: 510px) {

  .grid-cols-2 .product-card,
  .grid-cols-3 .product-card,
  .grid-cols-4 .product-card,
  .grid-cols-5 .product-card {
    min-height: unset;
    min-width: 50%;
  }
}

.grid-cols-2 h4,
.grid-cols-3 h4,
.grid-cols-4 h4,
.grid-cols-5 h4 {
  min-height: 80px !important;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.product-title {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  margin: 12px 0;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 90px;
  max-height: 90px;
  overflow-y: auto;
}

.price-container {
  min-height: 45px;
  margin-top: 15px;
}

.product-price {
  font-size: 1rem;
  font-weight: 600;
  color: #2172af;
  min-height: 43px;
  transition: all 0.1s linear;
}

.product-card:hover .product-price {
  color: #ff4529;
}

.discountedPrice {
  color: #000000;
  text-decoration: line-through;
}

.add-to-cart-button {
  width: 100%;
  max-width: 350px;
  background-color: #2172af;
  color: #f5f5f5;
  padding: 10px 8px;
  border: none;
  border-radius: 0 0 5px 5px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  position: relative;
  overflow: hidden;
  box-shadow: #00000040 0 2px 4px, #00000000 0 7px 13px -3px, #00000000 0px 0px inset;
  transition: all 0.3s ease !important;
}

.add-to-cart-button:hover {
  background-color: #f5f5f5;
  color: #2172af;
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.292) 0px -2px 4px, #00000014 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.add-to-cart-button:active {
  transform: translateY(0);
}

.add-to-cart-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
  opacity: 0.7;
  display: none !important;
}

.add-to-cart-button.loading {
  background-color: #666;
  cursor: wait;
}

.add-to-cart-button.loading::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30%;
  right: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

@media (max-width: 768px) {
  .add-to-cart-button {
    padding: 10px 0px;
    width: 100%;
  }
}

.product-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}

.product-form form {
  width: 100%;
  max-width: 400px;
  height: 36px;
}

.product-item-collection:hover .add-to-cart-button:not(.disabled) {
  opacity: 1;
  transform: translateY(-2px);
}

.recently-viewed-container {
  width: 100%;
}

.recently-viewed-container .collection-section {
  margin: 0 auto;
}

.recently-viewed-container .product-item {
  display: flex;
  justify-content: center;
}

aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 80vw;
  max-width: 400px;
  min-width: 300px;
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;

  @media (max-width: 300px) {
    min-width: unset;
    width: 100vw;
  }
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: 500;
  font-size: 30px;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem 0;
  background-color: #fff !important;
}

aside p {
  margin: 0 0 0.25rem;
  font-size: 14px;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/* From Uiverse.io by vinodjangid07 */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 13px;
}

.bin-top {
  width: 15px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset>* {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  background: #fff;
  z-index: 2;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header-menu-desktop>.menu-item-level-1 {
  color: #fff !important;
  position: static;
  padding: 15px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  width: 90vw;
  max-width: 1500px;
  margin: 15px auto;
}

.header-logo {
  /* margin-right: auto; */
  width: 120px;
  height: auto;
}

@media (min-width: 1025px) {
  .header-top {
    justify-content: space-between;
  }

  .mobile-menu-toggle {
    display: none;
  }

  .header-ctas {
    display: flex;
    gap: 1rem;
  }

  .mobile-menu-overlay {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .header-top {
    justify-content: center;
    position: static;
    width: 95vw !important;
  }

  .user-icon-header {
    display: none;
  }

  .mobile-menu-toggle {
    position: absolute;
    left: 10px;
    font-size: 34px;
    color: #000 !important;
    background: none;
    border: none;
    cursor: pointer;
  }

  .header-ctas {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 10px;
  }

  .header-ctas svg {
    width: 25px !important;
    height: 25px !important;
  }
}

.header-bottom {
  width: 100vw;
  padding: 0 1rem;
  background-color: #2172af;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
  overflow-y: auto;
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  z-index: 9998;
}

.no-scroll {
  overflow: hidden;
}

.mobile-menu-content.hidden {
  display: none;
}

.mobile-submenu-drawer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.mobile-submenu-drawer.active {
  transform: translateX(-15px);
}

.submenu-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 1px solid #e0e0e0;
  width: 75%;
  color: #000;
}

.back-button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 500;
  gap: 10px;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.mobile-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.mobile-menu-item button {
  width: 100%;
  text-align: start;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile-menu-arrow {
  font-size: 18px;
  color: #232323;
  position: absolute;
  right: 30px;
}

.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.mobile-menu-close h3 {
  font-weight: 500;
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.mobile-menu-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
}

.mobile-menu-footer a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.header-menu-desktop {
  display: none;
  gap: 1vw;
  margin: auto;

  @media (min-width: 1025px) {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
  }
}

.submenu {
  display: flex;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.submenu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.menu-item-level-1 {
  position: relative;
}

.header-menu-desktop .nav-links a {
  color: #fff !important;
}

.menu-item-level-1 a {
  text-decoration: none;
}

.menu-item-level-1 a:hover {
  text-decoration: none;
}

.submenu-level-1 {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 30px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: #fff;
  z-index: -1;
  padding: 30px 50px;
  border-radius: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
  transform: translateY(-10px);
  color: #fff;
}

.submenu-level-2 {
  position: relative;
  flex-direction: column;
  top: 0;
  width: max-content;
  box-shadow: none;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s ease;
  z-index: 2000;
}

.submenu-level-2 a {
  color: #2172af;
  font-size: 0.9rem;
}

.menu-item-level-2 {
  min-width: 15%;
}

.menu-item-level-2>a {
  font-weight: 600;
  margin-bottom: 7px;
}

.menu-item-level-3>a {
  margin-bottom: 3px;
}

.menu-item-level-1 a,
.menu-item-level-2 a,
.menu-item-level-3 a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
}

.menu-item-level-2 a {
  color: #000 !important;
}

.menu-item-level-1 a::after,
.menu-item-level-2 a::after,
.menu-item-level-3 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f39c12;
  transition: width 0.3s ease;
}

.menu-item-level-1:hover>a::after,
.menu-item-level-2:hover>a::after,
.menu-item-level-3:hover>a::after {
  width: 100%;
}

@media (max-width: 1500px) {
  .menu-item-level-2 {
    max-width: 20%;
  }
}

@media (max-width: 1400px) {
  .header-menu-desktop>.menu-item-level-1 {
    padding: 15px 1vw;
  }
}

@media (max-width: 1339px) {
  .submenu-level-1 {
    top: 50%;
  }
}

@media (max-width: 1339px) {
  .menu-item-level-2 {
    max-width: 25%;
  }
}

.header-ctas {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sign-in-link svg,
.search-toggle svg,
.cart-button svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #2172af;
  fill: #2172af;
}

.main-search {
  display: flex;
  flex-direction: column;
  height: 4vh;
  justify-content: start;
  align-items: center;
  max-width: 500px;
  position: relative;
  transition: transform 0.5s ease, top 0.5s ease;
  z-index: 2;
}

.main-search.fixed-search {
  position: fixed;
  top: 0;
  transform: translateY(0);
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1002;
}

.search-container {
  display: flex;
  align-items: center;
  z-index: 10000
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  backdrop-filter: blur(20px);
}

.search-overlay.active {
  opacity: 1;
  visibility: visible;
}

.search-container .search-bar {
  width: 100vw;
  max-width: 500px;
  height: 46px;
  margin: 0;
  border: 1px solid #c2c2c2;
  border-radius: 30px;
  color: #232323 !important;
  padding: 10px 15px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  box-shadow: rgb(255 255 255 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 12%) 0px 18px 36px -18px inset;
}

.search-bar-submit {
  position: relative;
  border: 1px solid #c2c2c2;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: none;
  height: 46px;
  padding: 0px 15px;
  background: #fff;
  box-shadow: rgb(255 255 255 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 12%) 0px 18px 36px -18px inset;
}

.search-results-container {
  width: 105%;
  background: #fff;
  z-index: 9999;
  margin-top: -3%;
  border-radius: 30px;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
}

.view-all-results {
  display: block;
  margin: 20px auto;
  width: 90%;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 30px;
}

.no-results {
  padding: 50px;
  text-align: center;
}

.search-result-txt * {
  transition: all 0.2s ease-in-out;
}

.search-result-txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
  padding: 10px 0;
}

.search-result-title {
  font-size: 15px;
  color: #232323;
}

.search-result-txt:hover {
  .search-result-title {
    color: #1c1c1c;
  }

  .search-result-description {
    color: #333;
  }

  .search-result-price {
    color: #ff4f4f !important;
  }
}

.search-result-description {
  font-size: 12px;
  font-weight: 400;
  color: #7f7f7f;
}

@media (max-width: 1024px) {
  .search-desc {
    display: none;
  }
}

.search-result-price {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: right;
  color: #2172af;
}

.search-result-compare-price {
  font-size: 13px;
  text-decoration: line-through;
  color: #7f7f7f;
  text-align: end;
}

@media (max-width: 1024px) {
  .search-result-title {
    font-size: 14px !important;
  }

  .search-result-description {
    font-size: 12px !important;
  }
}

aside .cart-main {
  height: 100vh;
  width: auto;
  overflow: auto;
  padding-bottom: 200px;
}

aside .cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

aside .cart-line {
  display: flex;
  padding: .75rem 0;
  justify-content: start;
  align-items: center;
  width: 100%;
}

aside .cart-line a {
  color: #000 !important;
}

aside .cart-line img {
  width: 100px;
  height: auto;
  display: block;
  margin-right: 0.75rem;
}

aside li.cart-line div {
  padding: 0;
}

aside .cart-summary-page {
  position: relative;
}

aside .cart-summary-aside {
  background: white;
  border-top: 1px solid #2172af;
  width: 95%;
  margin: auto;
}

aside .cart-summary-aside p {
  font-size: 12px;
}

.qnt-rem {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

aside .cart-line-quantity {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 95% !important;
}

aside .cart-line-quantity svg {
  fill: white !important;
}

aside .increase-quantity {
  color: rgb(35, 176, 35);
}

aside .decrease-quantity {
  color: #de3b2a;
}

aside .increase-quantity,
aside .decrease-quantity {
  background-color: #f1f1f1;
  border-radius: 30px;
  border: 1px solid #2172af;
  width: 30px;
  height: 30px;
  text-align: center;
  align-content: center;
  font-weight: 500;
}

aside .cart-remove {
  width: 90px;
  border-radius: 30px;
  background: #c0392b;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 0 0 3px 0;
}

aside .cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

aside .cart-subtotal {
  align-items: center;
  display: flex;
}

aside li.cart-line .product-price {
  min-height: 20px;
  font-size: 14px;
}

aside .cart-checkout-container {
  /* border: 1px solid #2172af; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 30px;
}

aside .cart-checkout-button {
  display: block;
  width: 100%;
  text-align: center;
  align-content: center;
}

@media (max-width: 1024px) {
  .header-search * {
    max-width: unset !important;
  }

  .header-search {
    position: absolute !important;
    top: 100px !important;
    left: 0;
    width: 100vw !important;
    margin: auto !important;
  }

  .main-search {
    max-width: 100vw !important;
    width: 100vw !important;
    position: absolute;
    top: -6px;
  }

  .search-container {
    width: 100% !important;
  }

  .search-container .search-bar {
    width: 100% !important;
    border-radius: 0 !important;
    background-color: #fff !important;
    border-left: none !important;
    min-height: 46px;
    max-width: unset;
  }

  .search-bar-submit {
    border-radius: 0 !important;
    border-right: none !important;
  }

  .search-results-container {
    width: 100% !important;
    border-radius: 0 !important;
    height: auto;
    max-height: 50vh;
  }

  .predictive-search-result {
    width: 90% !important;
    height: 100%;
    margin: auto !important;
    padding: 20px 0 !important;
  }

  .predictive-search-result-item a {
    align-items: flex-start;
  }

  .predictive-search-result-item a img {
    width: 85px;
  }

  .search-result-txt {
    padding: 0 0 10px 0 !important;
  }
}

.clear-search-button {
  position: absolute;
  right: 10%;
  background: none;
  border: none;
  font-size: 16px;
  color: #000;
  fill: #000;
  cursor: pointer;
  z-index: 10;
}

/* extracted from styles.slideshow */
.slideshow {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* extracted from styles.imageWrapper */
.imageWrapper {
  width: 100%;
  height: auto;
}

/* extracted from styles.image */
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* existing dynamic classes */
.product-image.loaded {
  opacity: 1;
}

.product-image.no-transition {
  transition: none;
}

.sold-out-ban {
  display: none;
  position: absolute;
  background-color: #cccccc4a;
  color: #fff;
  width: 100%;
  left: 0;
  transform: rotate(0deg);
  top: 0;
  text-align: center;
  height: 100%;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-shadow: inset 0px 0px 20px 0px #c6c6c6;
}

.sold-out-ban p {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.clear-search-button svg {
  width: 12px;
  height: 12px;
}

.clear-search-button:hover {
  color: #333;
}

input.search-bar::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

@media (max-width: 1024px) {
  .clear-search-button {
    display: block;
  }

  .clear-search-button {
    right: 15% !important;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-moz-search-cancel-button {
  display: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input.search-bar:focus-visible {
  outline: none;
}

.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 1rem;
  padding: 30px 24px 0 24px;
  max-height: 750px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
  min-height: 80px;
  max-height: 150px;
  border-bottom: 1px solid #d6d6d6;

  @media (max-width: 330px) {
    min-height: unset;
    max-height: unset;
    flex-direction: column;
  }
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.search-results img {
  width: 100%;
  height: auto;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

.multiple-collection-section {
  max-width: 1500px;
  margin: 0 auto 30px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.collection-section-1 {
  width: 450px;
  position: relative;

  @media (max-width: 1360px) {
    width: 45%;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.collection-section-1 h2 {
  position: absolute;
  top: 15px;
  color: white;
  width: 100%;
  text-align: center;
}

.multiple-collection-bg {
  width: 100%;
  border-radius: 5px;
  height: 450px;

  @media (max-width: 1024px) {
    height: 300px;
  }
}

.txt-imgs {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  align-items: end;
  font-weight: 400;
  margin-top: 5%;

  @media (max-width: 1024px) {
    flex-wrap: nowrap;
    height: 80%;
    overflow: auto;
    gap: 30px;
  }
}

.txt-imgs p {
  margin-top: 5px;
  font-size: 14px;
}

.collec-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mlt-img-con {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: invert(10);
  border-radius: 3px;
}

.txt-imgs img {
  max-width: 150px;
  height: auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 96vw;
  max-width: 1500px;
  margin: 5vw auto;
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-image {
  /* from styles.image */
  width: 100%;
  height: auto;
  object-fit: cover;

  /* initial state for fade-in */
  opacity: 0;
  transition: opacity 0.2s linear;
}

/* when fadeIn becomes true */
.product-image.loaded {
  opacity: 1;
}

/* suppress transition on very first render */
.product-image.no-transition {
  transition: none;
}

.product-main {
  align-self: start;
  position: relative;
  top: 1.5rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.product-options-item {
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.account-logout {
  display: inline-block;
}

.home-prev-button,
.home-next-button {
  position: absolute;
  bottom: -40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.home-prev-button {
  right: 70px;
}

.home-next-button {
  right: 15px;
}

.home-prev-button svg,
.home-next-button svg {
  width: 35px;
  height: 35px;
  padding: 5px;
  stroke: #2172af;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 2px 4px !important;
  border-radius: 50%;
}

.drawer {
  max-height: 80vh;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: white;
  z-index: 50;
}

.drawer-content {
  padding: 16px;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
}

.filter-btn {
  border: 1px solid #2172af;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding: 3px 8px;
  margin: 5px;
  transition: all 0.3s linear;
  background-color: white;
}

input[type="checkbox"] {
  accent-color: white;
  /* Tailwind blue-500 */
}

.filter-btn-active {
  background-color: #2985cb;
  color: white;
}

.filter-title {
  font-size: 14px;
  align-content: center;
  padding: 10px 0;
  font-weight: 400;
  border-bottom: 1px solid #2172af;
  width: 100%;
}

.filters-container {
  display: block;
  position: relative;
  padding: 5px 5px 3px 25px;
  margin: 5px 3px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #2172af;
  border-radius: 30px;
}

/* Hide the browser's default checkbox */
.filters-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
  background-color: #eee;

  border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.filters-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filters-container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filters-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filters-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .filters-div {
  box-shadow: inset 0px 0px 10px #e6e6e6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 98%;
} */

.mobile-filter-container {
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 2;
}

.mobile-filter-btn {
  background-color: #2172af;
  padding: 6px 20px;
  color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Custom CSS for mobile drawer sliding up from bottom */
.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.drawer-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.drawer-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  max-height: 80%;
  overflow-y: auto;
  padding: 1rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.drawer-panel.open {
  transform: translateY(0);
}

/* Drawer header with a draggable handle */
.drawer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  cursor: grab;
  padding: 10px;
}

.drawer-handle {
  width: 40px;
  height: 4px;
  background: #ccc;
  border-radius: 2px;
}

.drawer-panel .p-4 {
  padding: 0;
}

.sort-options {
  /* text-align: end; */
  padding: 10px;

  @media (max-width: 1024px) {
    padding: 0;
  }
}

#sort {
  border-radius: 5px;
  padding: 5px;
  border-color: #2172af;
}

.view-sort {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
  padding: 0 20px;

  @media (max-width: 1024px) {
    padding: 15px 5px;
  }
}

@media (max-width: 500px) {
  .mob-hide {
    display: none;
  }
}

.side-filter {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;

  @media (max-width: 1024px) {
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

/* For screens lower than 650px: show only buttons 1 and 2 */
@media (max-width: 649px) {

  .col-btn-3,
  .col-btn-4,
  .col-btn-5 {
    display: none;
  }
}

/* For screens between 650px and 899px: show buttons 1, 2, and 3 only */
@media (min-width: 650px) and (max-width: 899px) {

  .col-btn-4,
  .col-btn-5 {
    display: none;
  }
}

/* For screens between 900px and 1399px: show buttons 1, 2, 3, and 4 only */
@media (min-width: 900px) and (max-width: 1399px) {
  .col-btn-5 {
    display: none;
  }
}

.cart h1 {
  text-align: left;
  width: 95%;
  max-width: 1500px;
  margin: 75px auto 50px !important;
}

.cart li {
  margin-bottom: 0;
}

.product-card .product-price {
  min-height: 43px !important;
}

.cart .product-price {
  height: 20px;
  min-height: 15px;
}

.cart-details {
  margin-bottom: 20px;
}

.cart-lines-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 95%;
  margin: auto;
  gap: 20px;
}

.qnt-rem svg {
  fill: white
}

.cart-line {
  display: flex;
  align-items: center;
  width: 48%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @media (max-width: 1400px) {
    width: 100%;
  }
}

.cart-line img {
  width: 30%;
  max-width: 200px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;
  width: 70%;
}

.cart-product-title {
  font-weight: 500;
  color: black;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.product-price {
  @media (max-width: 1024px) {
    font-size: 15px;
    min-height: unset;
  }
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 13px;
}

.bin-top {
  width: 15px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset>* {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

.cart-summary-page {
  width: 95%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
  border-top: 1px solid #2172af;
  border-bottom: 1px solid #2172af;
}

.cart-summary-page p {
  font-size: 12px;
}

.cart-checkout-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #2aa4ff;
  border: 1px solid #2aa4ff;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.cart-checkout-button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.cart-checkout-button:active {
  transform: translateY(-1px);
}

.cart-subtotal {
  display: flex;
  align-items: start;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.cart-subtotal h4 {
  margin: 0;
}


/*! tailwindcss v4.0.0-alpha.17 | MIT License | https://tailwindcss.com */
@layer base {

  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0
  }

  hr {
    color: inherit;
    border-top-width: 1px;
    height: 0
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: 0 0
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: 0 0
  }

  input:where(:not([type=button], [type=reset], [type=submit])),
  select,
  textarea {
    border: 1px solid
  }

  button,
  input:where([type=button], [type=reset], [type=submit]) {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button
  }

  ::file-selector-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button
  }

  :-moz-focusring {
    outline: auto
  }

  :-moz-ui-invalid {
    box-shadow: none
  }


  ol,
  ul,
  menu {
    list-style: none
  }

  textarea {
    resize: vertical
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in srgb, currentColor 50%, transparent)
  }

  :disabled {
    cursor: not-allowed;
  }
}


@layer utilities {
  .\!visible {
    visibility: visible !important
  }

  .visible {
    visibility: visible
  }

  .absolute {
    position: absolute
  }

  .fixed {
    position: fixed
  }

  .relative {
    position: relative
  }

  .static {
    position: static
  }

  .my-4 {
    margin-top: var(--spacing-4, 1rem);
    margin-bottom: var(--spacing-4, 1rem)
  }

  .mt-2 {
    margin-top: var(--spacing-2, .5rem)
  }

  .mt-10 {
    margin-top: var(--spacing-10, 2.5rem)
  }

  .mr-2 {
    margin-right: var(--spacing-2, .5rem)
  }

  .mb-2 {
    margin-bottom: var(--spacing-2, .5rem)
  }

  .mb-4 {
    margin-bottom: var(--spacing-4, 1rem)
  }

  .block {
    display: block
  }

  .contents {
    display: contents
  }

  .flex {
    display: flex
  }

  .grid {
    display: grid
  }

  .hidden {
    display: none
  }

  .inline {
    display: inline
  }

  .inline-block {
    display: inline-block
  }

  .list-item {
    display: list-item
  }

  .table {
    display: table
  }

  .max-h-0 {
    max-height: var(--spacing-0, 0px)
  }

  .max-h-96 {
    max-height: var(--spacing-96, 24rem)
  }

  .w-1\/4 {
    width: 25%
  }

  .w-\[85\%\] {
    width: 85%
  }

  .w-\[100\%\] {
    width: 100%
  }

  .w-\[15\%\] {
    width: 15%
  }

  .w-\[99\%\] {
    width: 99%
  }

  .w-full {
    width: 100%
  }

  .flex-row {
    flex-direction: row
  }

  .flex-wrap {
    flex-wrap: wrap
  }

  .items-center {
    align-items: center
  }

  .justify-between {
    justify-content: space-between
  }

  .overflow-auto {
    overflow: auto
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px
  }

  .stroke-red-500 {
    stroke: var(--color-red-500, #ef4444)
  }

  .stroke-teal-500 {
    stroke: var(--color-teal-500, #14b8a6)
  }

  .p-4 {
    padding: var(--spacing-4, 1rem)
  }

  .pb-2 {
    padding-bottom: var(--spacing-2, .5rem)
  }

  .font-bold {
    font-weight: 700
  }

  .uppercase {
    text-transform: uppercase
  }

  .italic {
    font-style: italic
  }

  .opacity-0 {
    opacity: 0
  }

  .opacity-100 {
    opacity: 1
  }

  .outline-none {
    outline-offset: 2px;
    outline: 2px solid #0000
  }

  @media (width>=64rem) {
    .lg\:block {
      display: block
    }
  }

  @media (width>=64rem) {
    .lg\:hidden {
      display: none
    }
  }
}

/* Highlight for both desktop and mobile */
.menu-item-image-wrapper.active {
  border: 2px solid #2171afad;
  /* tweak color to match your palette */
  border-radius: 50%;
  transform: scale(1.02);
  transition: transform 0.3s ease;
  box-shadow: inset 0 0 20px 0px #bcbcbc, rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
}

.videos-wrapper {
  position: relative;
  max-width: 1500px;
  margin: 0 auto 70px;
  padding: 0 0 10px;
}

.videos-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  width: 100%;
  padding-bottom: 55px;
}

.video-item {
  width: 250px;
  height: 445px;
  border-radius: 12px;
  flex-shrink: 0;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 4.8px 14.4px;
}

.scroll-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.scroll-btn.left {
  right: 56px;
  /* place the left arrow beside the right one */
}

.video-box {
  width: 250px;
  height: 445px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

a.video-link {
  border: 2px solid #2172af;
  padding: 5px 10px;
  border-radius: 30px;
  margin-top: 5px;
  width: 50%;
  color: #2172af;
  text-align: center;
  box-shadow: rgba(131, 126, 255, 0.3) 0px 2px 4px;
}

.showww {
  display: block;

  @media (max-width: 1024px) {
    display: block;
  }
}