.header, .footer {
    display: none;
}

.showroom-image {
    width: 100vw;
    height: auto;
    /* Fill 100% of the viewport height */
    position: absolute;
    top: 0;
    left: 0;
    min-width: 2325px;
    /* Ensure the image width stays at least 4096px */
    object-fit: cover;
    /* Ensures the image scales correctly without distorting */
}

.animate-pulse {
    animation: pulse 2s infinite;
}

nav.vr-header {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: auto;
}

.showroom-container {
    position: relative;
    overflow: auto;
    /* Allow horizontal scrolling */
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
}

.vr-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.vr-header__logo img {
    max-width: 100px;
    height: auto;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.product-marker {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.marker-dot {
    width: 10px;
    height: 10px;
    background-color: #2172af;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

.product-tooltip {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: all 0.3s ease;
    color: #fff;
}

.product-marker:hover .product-tooltip {
    opacity: 1;
    visibility: visible;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
}

.product-link {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}