.banner-slideshow {
    position: relative;
    max-width: 1500px;
    margin-inline: auto;
    overflow: hidden;
    border-radius: 5px;
}

/* image */
.banner-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-link {
    display: block;
}

/* dots */
.indicator-dots {
    position: absolute;
    inset-inline: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.indicator-dots li{
    padding: 2px 6px;
    margin: 0;
}

.dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #2172af;
    border: none;
    cursor: pointer;
    padding: 3px;
}

.dot.active {
    background: #fff;
}

/* progress */
.progress-bar {
    position: absolute;
    bottom: 18px;
    left: 45%;
    width: 10%;
    height: 3px;
    background: #2172af;
    border-radius: 40px;
    overflow: hidden;
}

.progress-bar::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: progress var(--interval) linear forwards;
    border-radius: 30px;
}

@keyframes progress {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}