.brand-section {
    padding: 2rem 0;
    background-color: #f9f9f9;
    /* Light background */
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

.brand-grid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    max-width: 1500px;
    gap: 1rem;
}

.brand-item {
    transition: transform .3s ease, box-shadow .3s ease;
}

.brand-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.brand-item img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    max-width: unset !important;
}