.brand-section {
    padding: 2rem 0;
    background-color: #f9f9f9;
    /* Light background */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.brand-grid {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.brand-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px;
    transition: transform .3s ease, box-shadow .3s ease;
    text-align: center;
    max-width: 25vw;
    height: auto;
}

.brand-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.brand-item img {
    width: 186px;
    height: auto;
    border-radius: 20px;
}