.pcBldr-container {
    min-height: 50vh;
}

/* Sidebar */
.pcBldr-sidebar {
    width: 100vw;
    background-color: #2172af;
    color: #fff;
    /* Blue-ish text color */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 95px;
    z-index: 11;
}

.pcBldr-sidebar-div {
    width: 100%;
    margin: 0 auto;
}

.pcBldr-title {
    padding: 1rem 0 0 0;
}

.pcBldr-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 1500px;
    padding: 0 0 10px 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

.pcBldr-navItem {
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-weight: 300;
    border-radius: 30px;
    transition: all 0.2s ease;
}

.pcBldr-navItemActive {
    background: #fff;
    color: #2172af;
    font-weight: 500;
}

/* Main content area */
.pcBldr-main {
    flex: 1;
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 1024px) {
        margin: 7rem 1rem;
    }
}

/* Left panel: filters + list of items */
.pcBldr-filtersSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 15px 0;
}

.pcBldr-filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.pcBldr-filters label input {
    margin-top: 0.5rem;
    padding: 5px 10px;
    border: 1px solid #2172af;
    border-radius: 30px;
    width: 100%;
    max-width: 205px;
    font-size: 14px;
}

.model-input {
    text-align: right;
}

/* Item grid/list */
.pcBldr-itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.pcBldr-item {
    border: 1px solid #2172af2e;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    width: 200px;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    min-height: fit-content;

}

.pcBldr-item-top{
    margin-bottom: 20px
}

.pcBldr-itemActive {
    border: 2px solid #2172af;
}

.pcBldr-item img {
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #2172af2e;
    border-radius: 0;
}

.pcBldr-product-title{
    min-height: 85px;
    max-height: 85px;
    overflow-y: auto;
}

.pcBldr-selectedSection {
    padding: 25px 0;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.pcBldr-container h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pcBldr-selectedDetails {
    margin-bottom: 2rem;
    flex: 1;
}

.pcBldr-selectedDetails h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.pcBldr-selectedDetails {
    font-size: 14px !important;
    height: 30vh;
    overflow-y: auto;
}

/* Selected items summary */
.pcBldr-selectedSummary {
    border-top: 1px solid #2172af2e;
    padding-top: 1rem;
}

.pcBldr-selectedSummary h4 {
    margin-bottom: 0.5rem;
}

.pcBldr-selectedSummaryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.pcBldr-remove-btn {
    background: none;
    border: 1px solid #2172af;
    color: #2172af;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 30px;
}

/* Navigation buttons */
.pcBldr-navButtons {
    position: absolute;
    bottom: 1rem;
    right: 33%;
    display: flex;
    gap: 1rem;
}

.pcBldr-navItemDisabled {
    opacity: 0.5;
    cursor: default;
}

a.pcBldr-viewMoreBtn {
    color: #2172af;
    border: 1px solid #2172af;
    padding: 5px;
    border-radius: 30px;
    margin-top: 46px;
}

@media (max-width: 572px) {
    .pcBldr-itemList {
        gap: 10px;
    }

    .pcBldr-item {
        width: 45%;
        font-size: 12px;
    }

    label {
        font-size: 14px;
    }

    .model-input {
        text-align: left;
    }
}