.header-bottom {
    display: none;
}

/* Instructions Overlay Styles */
.instructions-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(30, 30, 30, 0.7);
    /* Dark grey background */
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Instructions Modal Styles */
.instructions-modal {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90vw;
    height: fit-content;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in-out forwards;

    li {
        margin-bottom: 10px;
    }

    h2 {
        color: #2172af;
        font-weight: 700;
        text-align: center;
        margin: 10px 0 20px 0;
    }

    strong {
        color: #2172af;
    }
}

.start-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    align-self: center;
    width: 100%;
    margin: 10px;

    span {
        border: 1px solid #2172af;
        border-radius: 30px;
        padding: 3px 30px;
        background-color: #2172af;
        color: #fff;
        box-shadow: 0px 1px 1px #bcbcbc;
        font-size: 18px;
    }
}

/* Fade In Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Fade Out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Example of a fade-out state class (to be toggled via JS when hiding the overlay) */
.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.pcBldr-navigationButtons {
    position: fixed;
    bottom: 10%;
    justify-content: space-between;
    display: flex;
    width: 90vw;
    max-width: 1500px;
    color: #2172af;
    font-weight: 500;
}

/* Styling for buttons within the navigation container */
.pcBldr-navigationButtons button {
    border: 1px solid #2172af;
    border-radius: 30px;
    background-color: #fff;
    width: 100px;
    height: 35px;
    box-shadow: -2px -2px 0 cyan, 2px 2px 0 magenta;
    transition: transform 0.1s ease;
}

/* Click animation */
.pcBldr-navigationButtons button:active {
    transform: scale(0.95);
}

.pcBldr-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: auto;
    /* opacity: 0.9; */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* ensures it sits behind your content */
    overflow: hidden;
}

.video-background iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    /* ensures the video covers the background */
}

.pcBldr-container {
    min-height: 50vh;
}

/* Sidebar */
.pcBldr-sidebar {
    width: 100vw;
    background-color: #2172af;
    color: #fff;
    /* Blue-ish text color */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    @media (max-width: 1024px){
        margin-top: 45px !important;
    }
}

.pcBldr-sidebar-div {
    width: 100%;
    margin: 0 auto;
}

.pcBldr-title {
    padding: 1rem 0 0 0;
}

.pcBldr-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 1500px;
    padding: 0 0 10px 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

.pcBldr-navItem {
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-weight: 300;
    border-radius: 30px;
    transition: all 0.2s ease;
}

.pcBldr-navItemActive {
    background: #fff;
    color: #2172af;
    font-weight: 500;
}

/* Main content area */
.pcBldr-main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pcBldr-product-price {
    margin: 10px 0;
    color: #2172af;
    font-size: 16px;
    font-weight: 600;
}

/* Left panel: filters + list of items */
.pcBldr-filtersSection,
.pcBldr-accessoriesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 15px 0;
}

.pcBldr-filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.pcBldr-filters label input {
    margin-top: 0.5rem;
    padding: 5px 10px;
    border: 1px solid #2172af;
    border-radius: 30px;
    width: 100%;
    max-width: 205px;
    font-size: 14px;
}

.model-input {
    text-align: right;
}

/* Item grid/list */
.pcBldr-itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    min-height: 100vh;
    margin-top: 20px;
}

.pcBldr-item {
    border: 1px solid #2171af61;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    width: 200px;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    height: auto;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}

.pcBldr-item-top {
    margin-bottom: 20px
}

.pcBldr-item * {
    transition: all 0.1s linear;
}

.pcBldr-itemActive {
    border: 2px solid #2172af;
    background-color: #232323;
    color: #fff;

    a.pcBldr-viewMoreBtn {
        color: #fff;
        border-color: #fff;
    }

    .quantity-selector button {
        color: #fff;
        border-color: #fff !important;
    }

    .pcBldr-product-price {
        color: #fff;
    }
}

.pcBldr-itemList::after {
    content: "";
    flex: auto;
}

.pcBldr-item img {
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #2172af2e;
    border-radius: 5px;
}

.pcBldr-product-title {
    min-height: 85px;
    max-height: 85px;
    overflow-y: auto;
}

.pcBldr-selectedSection {
    padding: 20px 0;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
}

.pcBldr-container h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pcBldr-selectedDetails {
    margin-bottom: 2rem;
    flex: 1;
}

.pcBldr-selectedDetails h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.pcBldr-selectedDetails {
    font-size: 14px !important;
    height: 30vh;
    overflow-y: auto;
}

/* Selected items summary */
.pcBldr-selectedSummary {
    padding-top: 1rem;
}

.pcBldr-selectedSummary h4 {
    margin-bottom: 0.5rem;
}

.pcBldr-selectedSummaryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.pcBldr-remove-btn {
    background: none;
    border: 1px solid #2172af;
    color: #2172af;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 30px;
}

/* Navigation buttons */
.pcBldr-navButtons {
    position: absolute;
    bottom: 1rem;
    right: 33%;
    display: flex;
    gap: 1rem;
}

.pcBldr-navItemDisabled {
    opacity: 0.5;
    cursor: default;
}

a.pcBldr-viewMoreBtn {
    color: #2172af;
    border: 1px solid #2172af;
    padding: 5px 10px;
    border-radius: 30px;

    @media (max-width: 572px) {
        font-size: 12px;
    }
}

@media (max-width: 572px) {
    .pcBldr-itemList {
        gap: 10%;
        row-gap: 30px;
    }

    .pcBldr-item {
        width: 45%;
        /* font-size: 12px; */
    }

    label {
        font-size: 14px;
    }

    .model-input {
        text-align: left;
    }
}

button.accessory-add-btn {
    width: 60%;
    height: 30px;
    margin: 10px auto;
    border-radius: 30px;
    background-color: #53992c;
    color: white;
}

.accessories-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 15px;
    border: 0px solid #2172af;
    padding: 10px;
    border-radius: 30px;
    box-shadow: inset -1px 0px 6px #cacaca
}

.accessory-button {
    padding: 5px 10px;
    border: 1px solid #2172af;
    border-radius: 30px;
    color: #2172af;
    transition: all 0.1s ease;
}

.accessory-button.active {
    background-color: #2172af;
    color: #fff;
}