h1 {
    text-align: left;
    width: 95%;
    max-width: 1500px;
    margin: 75px auto 50px !important;
}

.cart-details {
    margin-bottom: 50px;
}

.cart-lines ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1500px;
    width: 95%;
    margin: auto;
    gap: 30px;
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(212, 212, 212, 0.5);
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(212, 212, 212, 0.5);
    box-shadow: inset 0px 0px 20px 10px rgba(212, 212, 212, 0.5);
    padding: 35px;
    border-radius: 20px;
    border: 1px solid #2172af4d;
}

.qnt-rem svg {
    fill: white
}

.cart-line {
    display: flex;
    align-items: center;
    width: 48%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    @media (max-width: 1400px) {
        width: 100%;
    }
}

.cart-line img {
    width: 30%;
    max-width: 200px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 5px;
    width: 70%;
}

.cart-product-title {
    font-weight: 500;
    color: black;

    @media (max-width: 1024px) {
        font-size: 14px;
    }
}

.product-price {
    @media (max-width: 1024px) {
        font-size: 13px;
        min-height: unset;
    }
}

.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 3px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
}

.bin-bottom {
    width: 13px;
}

.bin-top {
    width: 15px;
    transform-origin: right;
    transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
    transform: rotate(45deg);
}

.bin-button:hover {
    background-color: rgb(255, 0, 0);
}

.bin-button:active {
    transform: scale(0.9);
}

button.reset {
    border: 0;
    background: inherit;
    font-size: inherit;
}

button.reset>* {
    margin: 0;
}

button.reset:not(:has(> *)) {
    height: 1.5rem;
    line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
    text-decoration: underline;
    cursor: pointer;
}


.cart-summary-page {
    width: 95%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.cart-checkout-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #2aa4ff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.cart-checkout-button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.cart-checkout-button:active {
    transform: translateY(-1px);
}

.cart-subtotal {
    display: flex;
    align-items: start;
    margin-bottom: 50px;
    @media (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.cart-subtotal h4 {
    margin: 0;
}