.slide-con {
    width: 100vw;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.cat-h3 {
    font-size: 20px;
    margin-left: 15px;
    max-width: 1500px;
    font-weight: 500;
}

.category-slider {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    max-width: 1500px;
    margin-left: 20px;
}

.category-container {
    flex: 0 0 5vw;
    margin: 30px 20px 0px 20px;
    scroll-snap-align: start;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.category-image {
    border: 1px solid #ebebeb;
    border-radius: 50%;
    max-width: 30vw;
    width: 150px;
    height: auto;
}

.category-title {
    margin-top: 10px;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #404040;
    text-transform: uppercase !important;
}

@media screen and (max-width: 1024px) {
    .category-slider {
        flex-wrap: wrap;
        border: 1px solid #ababab;
        border-radius: 5px;
        width: 95vw;
        box-shadow: inset 0px 0px 20px 0px #ededed;
        padding-bottom: 20px;
        margin: auto;
        justify-content: center;
    }

    .category-container {
        flex: 1 0 10vw !important;
        margin: 30px 0px 0px 5px;
    }

    .category-image {
        border: none;
        width: 200px;
    }
}

/* Subcategory List - Default Hidden State */
.subcategory-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    width: 350px;
    padding: 10px;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

/* Subcategory Items */
.subcategory-list .category-item {
    width: 100px;
}

.subcategory-list .category-container {
    margin: 0;
}

.subcategory-list .category-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcategory-list .category-item .category-image {
    width: 80px;
}

.subcategory-list .category-title {
    font-weight: 500 !important;
    font-size: 12px !important;
}

@media screen and (max-width: 1024px) {
    .subcategory-list {
        align-items: start;
        width: 80vw;
        border: 1px solid #ababab;
        border-radius: 5px;
        box-shadow: inset 0px 0px 20px 0px #ededed;
        margin: 0;
        padding: 0;
    }

    .subcategory-list.expanded {
        max-height: 1000px;
        /* Adjust for mobile */
        padding: 20px 0 0 0;
    }

    /* Animation for expanded state */
    .subcategory-list.expanded {
        animation: expandSequence 1s forwards;
        /* Adjust duration as needed */
    }

    @keyframes expandSequence {
        0% {
            max-width: 0;
            max-height: 0;
            opacity: 0;
        }

        33% {
            max-width: 350px;
            max-height: 0;
            opacity: 0.2;
        }

        66% {
            max-width: 350px;
            max-height: 500px;
            /* Adjust as per content height */
            opacity: 0.7;
        }

        100% {
            max-width: 350px;
            max-height: 750px;
            opacity: 1;
        }
    }

    /* Animation for collapsing */
    .subcategory-list.collapsing {
        animation: collapseSequence 1s forwards;
    }

    @keyframes collapseSequence {
        0% {
            max-width: 350px;
            max-height: 750px;
            opacity: 1;
        }

        33% {
            max-width: 350px;
            max-height: 0;
            opacity: 0.7;
        }

        66% {
            max-width: 0px;
            max-height: 0;
            opacity: 0.5;
        }

        100% {
            max-width: 0;
            max-height: 0;
            opacity: 0;
        }
    }
}

.hidden {
    display: none;
    opacity: 0;
    /* Hides all categories except the expanded one */
}

.category-item {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.category-item.expanded {
    display: flex;
    flex-direction: column;
    /* Ensures the expanded category remains visible */
    align-items: center;
    justify-content: center;
}