.cat-h3 {
    width: 100% !important;
}

.slide-con {
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    overflow: hidden !important;
}

.category-slider {
    width: 100% !important;
    flex-wrap: nowrap;
    gap: 15px !important;
    padding: 20px 10px 80px;

    @media (max-width: 1024px) {
        flex-wrap: wrap !important;
    }
}

.category-container {
    min-width: 200px;
    height: 350px;
    border-radius: 10px !important;
    background-color: #fff !important;
    box-shadow: rgba(131, 126, 255, 0.3) 0px 2px 14.4px !important;
    padding: 0 !important;
    justify-content: space-around !important;

    @media (max-width: 1024px) {
        width: 46% !important;
        min-width: 0;
        max-width: 250px;
        height: 65vw !important;
        max-height: 350px;
    }
}

.category-imgg {
    width: 100% !important;
    height: auto;
    position: relative !important;
    border-radius: 10px !important;
}

.category-container a {
    border-radius: 10px !important;
    width: 100% !important;
    padding: 0 !important;
}

.category-title h3 {
    margin-bottom: 10px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.category-title p {
    width: 175px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.scroll-left-btn {
    position: absolute !important;
    bottom: 20px !important;
    right: 70px !important;
    z-index: 1 !important;
    width: 30px !important;
    height: 30px !important;

    @media (max-width: 1024px) {
        display: none;
    }
}

.scroll-right-btn svg,
.scroll-left-btn svg {
    box-shadow: rgba(131, 126, 255, 0.3) 0px 2px 4px !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    color: #2172af !important;
    stroke: #2172af !important;
    padding: 5px !important;
}

.scroll-right-btn {
    position: absolute !important;
    bottom: 20px !important;
    right: 15px !important;
    z-index: 1 !important;
    width: 30px !important;
    height: 30px !important;

    @media (max-width: 1024px) {
        display: none;
    }
}

section.category-group {
    max-width: 1500px;
    margin: auto;
    width: 100%;
}

section.category-group h4 {
    font-size: 18px;
}