.product-images-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.thumbnail {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border 0.3s, transform 0.2s;
}

.thumbnail.active {
    border-color: #000;
    transform: scale(1.1);
}

.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.main-image {
    position: relative;
    width: 75%;
    cursor: grab;
    transition: transform 0.3s ease;
}

.main-image:active {
    cursor: grabbing;
}

.main-image:hover {
    transform: scale(1.05);
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    /* Subtle transparency */
    border: none;
    border-radius: 50%;
    /* Rounded buttons */
    color: white;
    width: 40px;
    height: 40px;
    /* Make the buttons circular */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Darker on hover */
}

.prev-button svg,
.next-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    /* Make SVG icon color match the button text color */
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.yarl__container {
    background-color: #000000ab !important;
    backdrop-filter: blur(15px) !important;
}