.search-result-container div div{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    width: 90%;
    justify-content: flex-start;
    gap: 30px;
    margin: auto;
}

.search-result-container div div .search-results-item{
    max-width: 175px;;
}

.search-result-container div div .search-results-item a{
    flex-direction: column;
    align-items: center;
}

.search-result-container div div .search-results-item a img{
    width: 100%;
}

.search-result-container div div .search-results-item a .search-result-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;
    padding: 10px 0;
    text-align: center;
}