node_modules
/.DS_Store
/.cache
/build
/dist
/public/build
/.mf
.env
.vscode
.idea
.shopify
.turbo
/test-results/
/playwright-report/
/playwright/.cache/
pnpm-lock.yaml
/scripts
app/scripts/typesense-import-products-from-shopify.js
app/scripts/typesense-create-products-collection.js
